
#root {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
}

.layout {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: var(--layout-window-width-max);
  width: 100%;
}

.title-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  .demo-title {
    flex: 3;
    font-size: 24px;
    color: var(--color-gray-90);
    font-weight: 400;
  }
  .demo-selector {
    flex: 1;
  }
}

.demo-row {
  height: 100%;
  width: 100%;

  .layout {
    display: flex;
    justify-content: unset;
    align-items: center;

    .payment {
      color: black;
      .signed-xdr {
        color: black;
      }
    }
  }
}