[submodule "@modules/payment-react"]
	path = @modules/payment-react
	url = git@github.com:stellar/soroban-react-payment.git
[submodule "@modules/mint-token"]
	path = @modules/mint-token
	url = git@github.com:stellar/soroban-react-mint-token.git
[submodule "@modules/atomic-swap"]
	path = @modules/atomic-swap-react
	url = git@github.com:stellar/soroban-react-atomic-swap.git
