body {
  color: var(--color-gray-90);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-monospace);
}

#root {
  width: 100%;
  height: 10vh;
  background-color: var(--color-gray-10);
}

.notification-container {
  position: absolute;
  top: 3rem;
  right: 3rem;
}
